/Sample/BeforeAndAfter/BeforeAndAfter/BeforeAndAfter.Android/obj/*
/Sample/BeforeAndAfter/BeforeAndAfter/BeforeAndAfter.Android/bin/*
/Sample/BeforeAndAfter/BeforeAndAfter/BeforeAndAfter.iOS/obj/*
/Sample/BeforeAndAfter/BeforeAndAfter/BeforeAndAfter.iOS/bin/*
/Sample/BeforeAndAfter/BeforeAndAfter/BeforeAndAfter/obj/*
/Sample/BeforeAndAfter/BeforeAndAfter/BeforeAndAfter/bin/*
/Sample/BeforeAndAfter/.vs/*
/lib/BeforeAndAfterLib/obj/*
/lib/BeforeAndAfterLib/bin/*
